# Сonfig
CONFIG_PATH=configs/default.yaml

# Postgres
REVIEWER_POSTGRES__HOST=localhost
REVIEWER_POSTGRES__PORT=5432
REVIEWER_POSTGRES__USER=postgres
REVIEWER_POSTGRES__PASSWORD=postgres
REVIEWER_POSTGRES__DB_NAME=service-courier
REVIEWER_POSTGRES__SSLMODE=disable